<div style="background-color: blueviolet;padding: 50px;">
    <h1>
        just a test for shopify sections
    </h1>
</div>
{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}